<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.balzo.authdroid.auth">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="AllowBackup,GoogleAppIndexingWarning">
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>
        <activity
            android:name="eu.balzo.authdroid.MainMenuActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="eu.balzo.authdroid.rx.RxMenuActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="eu.balzo.authdroid.arrow.ArrowMenuActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="eu.balzo.authdroid.arrow.google.GoogleArrowActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="eu.balzo.authdroid.arrow.facebook.FacebookArrowActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="eu.balzo.authdroid.profile.ProfileActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="eu.balzo.authdroid.rx.firebase.FirebaseRxActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="eu.balzo.authdroid.rx.firebase.FirebaseEmailPasswordRxActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="eu.balzo.authdroid.rx.facebook.FacebookRxActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="eu.balzo.authdroid.rx.google.GoogleRxActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="eu.balzo.authdroid.rx.firebase.FirebasePasswordResetRxActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="eu.balzo.authdroid.rx.firebase.FirebasePasswordUpdateRxActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="eu.balzo.authdroid.rx.firebase.FirebaseProfileUpdateRxActivity"
            android:screenOrientation="portrait" />
    </application>

</manifest>